 <div class="main">
    <div class="leftpanel">
        <div class="top-bar1">
            <div class="gen-bill">
                <div class="top-section">
                    <h3>Active Subscibers <br>    1,02,394</h3>
                </div>
                <div class="bottom-section">
                    <button (click)="choosePanel1()">Generate Balance</button>
                </div>
            </div>
            <div class="new-conn">
                <div class="top-section">
                    <h3>Connection Request <br> 21,342</h3>
                </div>
                <div class="bottom-section">
                    <button (click)="choosePanel2()">Approve / Reject Request</button>
                </div>
            </div>
        </div>
        <div class="top-bar2">
            <div class="new-plans">
                <div class="top-section">
                    <h3>Number of Plans <br>  231</h3>
                </div>
                <div class="bottom-section">
                    <button (click)="choosePanel3()">Edit Plans</button>
                </div>
            </div>
            <div class="reactivation">
                <div class="top-section">
                    <h3>List of defaulters <br> 542</h3>
                </div>
                <div class="bottom-section">
                    <button (click)="choosePanel4()">See defaulters</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-area" [ngSwitch]="section">
        <div *ngSwitchCase = "'1'">
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="conntype">Enter connection type</label>
                    <select class="form-control" id="conntype">
                        <option value="prepaid" default>Prepaid</option>
                        <option value="postpaid">Postpaid</option>
                        <option value="dth">DTH</option>
                        <option value="broadband">Broadband</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputNumber1">Enter Fast Conn ID</label>
                    <input type="text" class="form-control" id="exampleInputNumber1" aria-describedby="numberHelp" placeholder="Enter Fast Conn ID">
                    <small id="numberHelp" class="form-text text-muted">We'll never share your ID with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Generate Balance</button>
            </form>
        </div>
        <div *ngSwitchCase = "'2'">
            <form action="/search">
                <div class="form-group">
                    <label for="exampleInputNumber1">Enter Enrollment ID</label>
                    <input type="text" class="form-control" id="exampleInputNumber1" aria-describedby="numberHelp" placeholder="Enter Enrollment ID">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <div class="indlist" *ngFor = "let r of requests">
                <p>{{ r.service }} : {{ r.name }}</p>
                <div class="but">
                    <form action="/approve"><button type="submit" class="btn btn-success">Approve</button></form>
                    <form action="/reject"><button type="submit" class="btn btn-danger">Reject</button></form>
                </div>
            </div>
        </div>
        <div *ngSwitchCase = "'3'">
            <div class="toggleTo">
                <button (click)="toggleToPre()" class="prepaid">Prepaid Form</button>
                <button (click)= "toggleToPost()" class="postpaid">Postpaid Form</button>
            </div>
            <div *ngIf = "preorpost; then prepaidBlock; else postpaidBlock"></div>
            <ng-template #prepaidBlock> 
                <form #prepaidplans = "ngForm" (ngSubmit) = "onClickSubmit(prepaidplans.value)">
                    <div class="form-group">
                        <label for="exampleInputNumber1">Calls</label>
                        <input type="text" class="form-control" id="exampleInputNumber1" placeholder="Call duration" name="calls" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber2">Internet</label>
                        <input type="text" class="form-control" id="exampleInputNumber2" placeholder="Daily Internet Usage" name="data" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber3">Price</label>
                        <input type="text" class="form-control" id="exampleInputNumber3" placeholder="Price of plan" name="amt" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber4">Validity</label>
                        <input type="text" class="form-control" id="exampleInputNumber4" placeholder="Validity" name="validity" ngModel>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </ng-template>
            <ng-template #postpaidBlock>
                <form #postpaidplans = "ngForm" (ngSubmit) = "onClickSubmitPostpaid(postpaidplans.value)">
                    <div class="form-group">
                        <label for="exampleInputNumber1">Calls</label>
                        <input type="text" class="form-control" id="exampleInputNumber1" placeholder="Call duration" name="calls" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber2">Internet</label>
                        <input type="text" class="form-control" id="exampleInputNumber2" placeholder="Monthly Internet Usage" name="data" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber3">Price</label>
                        <input type="text" class="form-control" id="exampleInputNumber3" placeholder="Price of plan" name="amt" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber3">Members</label>
                        <input type="text" class="form-control" id="exampleInputNumber3" placeholder="Member Addons" name="member" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber4">Validity</label>
                        <input type="text" class="form-control" id="exampleInputNumber4" placeholder="Validity" name="validity" ngModel>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </ng-template>
        </div>
        <div *ngSwitchCase = "'4'">
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
            <div class="indlist">
                <p>ID : 28493493833 </p>
                <div class="but">
                    <form action="/reject"><button type="submit" class="btn btn-danger">Cancel</button></form>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault>
            <h2 style="text-align: center; margin-top: 40px;">Work Area</h2>
        </div>
    </div>
  </div>
  